* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial;
  color: #caa8f5;
}

body {
  background-color: #230c33;
}

.container {
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 20px;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #caa8f5;
  /* border-radius: 10px; */
}

.btn-add-person {
  padding: 10px;
  background-color: #caa8f5;
  color: #230c33;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
